<h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.reset_password.title') %></h2>
<% scope = Devise::Mapping.find_scope!(resource_name) %>
<%= devise_error_messages! %>
<%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  f.inputs do
    f.input :email
  end
  f.actions do
    f.action :submit,
      label: t('active_admin.devise.reset_password.submit'),
      button_html: { class: 'button button-primary', value: t('active_admin.devise.reset_password.submit') }

    if controller_name != 'sessions'
      f.action :cancel,
        label: t('active_admin.devise.links.sign_in'),
        button_html: { href: send(:"new_#{scope}_session_path") }
    end
  end
end %>
