.active-admin-comment {
  margin-bottom: 25px;
  max-width: 45em;

  > fieldset {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}

.active-admin-comment-meta {
  color: $text-muted-color;
  margin-bottom: 5px;
}

.active-admin-comment-author {
  color: $primary-color;
  font-weight: $font-weight-bold;
  margin: 0;
}
