.caret {
  border-left: $caret-width-base solid transparent;
  border-right: $caret-width-base solid transparent;
  border-top: $caret-width-base dashed;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  margin-top: -2px;
  vertical-align: middle;
  width: 0;

  &.down {
    border-bottom: none;
    border-top: $caret-width-base dashed;
  }

  &.up {
    border-bottom: $caret-width-base dashed;
    border-top: none;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  background-color: $dropdown-background-color;
  border: 1px solid $dropdown-border-color;
  border-radius: $border-radius-base;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  left: 0;
  list-style: none;
  margin: 2px 0 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: $z-index-dropdown;

  > li {
    > a {
      color: $dropdown-link-color;
      display: block;
      padding: 4px 15px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: $dropdown-link-hover-background-color;
        color: $dropdown-link-hover-color;
      }
    }
  }
}
