.flash {
  background-color: $flash-message-default-background-color;
  color: $flash-message-default-text-color;
  font-weight: $flash-message-font-weight;
  padding: $flash-message-padding;

  &.flash-notice {
    background-color: $flash-message-notice-background-color;
    color: $flash-message-notice-text-color;
  }

  &.flash-error {
    background-color: $flash-message-error-background-color;
    color: $flash-message-error-text-color;
  }
}
