table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid $table-border-color;
  padding: $table-cell-padding;
  vertical-align: top;
}

thead {
  th {
    border-bottom: 2px solid $table-border-color;
    vertical-align: bottom;
  }
}

// -------------------------------------- Index Tables
.index-table {
  th {
    a,
    a:link,
    a:visited {
      color: $text-color;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  tbody tr:nth-of-type(odd) {
    background-color: $table-stripe-color;
  }

  tbody tr.selected {
    background-color: $table-selected-color;
  }
}

// -------------------------------------- Resource Attributes Table
.attributes-table {
  overflow: hidden;

  table {
    col {
      border-right: 1px solid $table-border-color;

      &:first-child {
        border-right: 2px solid $table-border-color;
      }
    }

    th {
      width: 180px;
    }
  }

  .empty-value {
    color: $text-muted-color;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}

.sidebar-section .attributes-table th {
  width: 80px;
}
