@mixin button-base {
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $button-font-weight;
  line-height: $line-height-base; // needed for input/button elements to match a.button size
  padding: $padding-base-vertical $padding-base-horizontal;
  text-decoration: none;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
  }

  &:active {
    outline: 0;
  }

  &[disabled],
  &.disabled {
    cursor: $cursor-disabled;
    opacity: 0.5;
  }
}

@mixin default-button {
  background-color: $button-default-background-color;
  border: 1px solid $button-default-border-color;
  color: $button-default-color;

  &:not(.disabled) {
    &:hover {
      background-color: darken($button-default-background-color, 10%);
      border-color: darken($button-default-border-color, 12%);
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  &:hover,
  &:focus {
    color: $button-default-color;
  }
}

@mixin primary-button {
  background-color: $button-primary-background-color;
  border: 1px solid $button-primary-border-color;
  color: $button-primary-color;

  &:not(.disabled) {
    &:hover {
      background-color: darken($button-primary-background-color, 10%);
      border-color: darken($button-primary-border-color, 15%);
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  &:hover,
  &:focus {
    color: $button-primary-color;
  }
}
