// Variables used throughout Active Admin.
// They can be overridden by prepending your own
// to 'app/assets/stylesheets/active_admin.scss'.


// Old variables have been either removed or renamed
//
// $secondary-color               -> REMOVED
// $section-header-text-color     -> $title-bar-color
// $current-menu-item-background  -> $navbar-link-active-background-color
// $hover-menu-item-background    -> $navbar-link-hover-background-color
// $blank-slate-primary-color     -> $blank-slate-color
// $breadcrumbs-color             -> $breadcrumb-color
// $breadcrumbs-separator-color   -> $breadcrumb-separator-color
// $form-label-color              -> REMOVED
// $page-header-text-color        -> REMOVED
// $border-width                  -> REMOVED
// $cell-padding                  -> $table-cell-padding
// $cell-horizontal-padding       -> REMOVED
// $section-padding               -> $panel-body-padding
// $text-input-horizontal-padding -> REMOVED
// $text-input-total-padding      -> REMOVED
// $blank-slate-border            -> REMOVED


// Flat UI (color swatch section at http://designmodo.github.io/Flat-UI/)
$alizarin-color: #e74c3c !default;
$asbestos-color: #7f8c8d !default;
$belize-hole-color: #2980b9 !default;
$clouds-color: #ecf0f1 !default;
$emerald-color: #2ecc71 !default;
$nephritis-color: #27ae60 !default;
$silver-color: #bdc3c7 !default;
$sunflower-color: #f1c40f !default;
$wet-asphalt-color: #34495e !default;


//== Scaffolding

$primary-color: $wet-asphalt-color !default;
$success-color: $emerald-color !default;
$warning-color: $sunflower-color !default;
$error-color: $alizarin-color !default;

$body-background-color: #fff !default;

$text-color: #3f4c4d !default;
$text-muted-color: $asbestos-color !default;

$link-color: $belize-hole-color !default;
$link-hover-color: darken($link-color, 5%) !default;
$link-hover-decoration: underline !default;

//== Typography

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-normal: 400 !default;
$font-weight-semibold: 400 !default;
$font-weight-bold: 700 !default;

$font-size-base: 13px !default;

$line-height-base: 1.5 !default;

$body-font-family: $font-family-base !default;
$body-font-size: $font-size-base !default;
$body-font-weight: $font-weight-normal !default;

$headings-font-family: inherit !default;
$headings-font-weight: inherit !default;
$headings-color: inherit !default;

//== Components

$border-radius-base: 0.25em !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$horizontal-page-margin: 20px !default;

$sidebar-width: 270px !default;

//== z-indexes

$z-index-dropdown: 1000 !default;
$z-index-navbar: 1000 !default;
$z-index-modal-backdrop: 1001 !default;
$z-index-modal: 1002 !default;

//== Blank Slate

$blank-slate-color: $text-muted-color !default;

//== Buttons

$button-font-weight: $font-weight-bold !default;

$button-default-color: $text-color !default;
$button-default-background-color: #fff !default;
$button-default-border-color: #d9d9d9 !default;

$button-primary-color: #fff !default;
$button-primary-background-color: $primary-color !default;
$button-primary-border-color: darken($primary-color, 5%) !default;

//== Forms

$input-background-color: #fff !default;
$input-border-color: lighten($silver-color, 5%) !default;
$input-border-focus-color: darken($silver-color, 5%) !default;
$input-border-radius: $border-radius-base !default;
$input-color: $text-color !default;

$required-field-marker-color: #aaa !default;

$cursor-disabled: not-allowed !default; // for forms and buttons

$form-label-width: 30%;
$form-input-width: 70%;

//== Dropdowns

$caret-width-base: 4px !default;

$dropdown-background-color: #fff !default;
$dropdown-border-color: rgba(0, 0, 0, 0.15) !default;

$dropdown-link-color: $text-color !default;
$dropdown-link-hover-color: darken($text-color, 5%) !default;
$dropdown-link-hover-background-color: #e9e9e9 !default;

//== Tables

$table-border-color: darken($body-background-color, 12%) !default;
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;

$table-stripe-color: lighten($clouds-color, 4%) !default;
$table-selected-color: #fcf9c1 !default;

//== Badges

$badge-color: #fff !default;
$badge-background-color: rgba(0, 0, 0, 0.35) !default;

$badge-border-radius: 10px !default;
$badge-font-weight: $font-weight-normal !default;
$badge-line-height: 1 !default;

//== Breadcrumbs

$breadcrumb-color: $asbestos-color !default;
$breadcrumb-separator-color: $asbestos-color !default;
$breadcrumb-separator: "/" !default;

//== Flash Messages

$flash-message-font-weight: $font-weight-bold !default;
$flash-message-padding: 12px $horizontal-page-margin !default;

$flash-message-default-background-color: $warning-color !default;
$flash-message-default-text-color: #fff !default;

$flash-message-notice-background-color: $success-color !default;
$flash-message-notice-text-color: #fff !default;

$flash-message-error-background-color: $error-color !default;
$flash-message-error-text-color: #fff !default;

//== Modals

$modal-content-padding: 15px !default;
$modal-heading-padding: 10px 15px !default;

$modal-background-color: #fff !default;
$modal-backdrop-background-color: rgba(0, 0, 0, 0.5) !default;
$modal-heading-border-color: #eee !default;

//== Navbar

$navbar-border-radius: $border-radius-base !default;
$navbar-padding-horizontal: 10px !default;
$navbar-padding-vertical: 10px !default;

$navbar-color: #fff !default;
$navbar-background-color: $primary-color !default;

$navbar-link-color: #fff !default;
$navbar-link-hover-color: #fff !default;
$navbar-link-hover-background-color: lighten($primary-color, 8%) !default;
$navbar-link-active-color: #fff !default;
$navbar-link-active-background-color: lighten($primary-color, 8%) !default;

//== Panels

$panel-background-color: lighten($clouds-color, 4%) !default;
$panel-body-padding: 15px !default;
$panel-heading-background-color: $clouds-color !default;
$panel-heading-padding: 10px 15px !default;
$panel-border-radius: $border-radius-base !default;

//== Status Tags

$status-tag-border-radius: $border-radius-base !default;
$status-tag-padding: 0.2em 0.5em !default;

$status-tag-color: #fff !default;
$status-tag-no-background-color: $asbestos-color !default;
$status-tag-yes-background-color: $nephritis-color !default;

//== Tabs

$tabs-border-color: #d3d3d3 !default;

$tabs-link-hover-background-color: #e6e6e6 !default;

$tabs-active-link-hover-background-color: #fff !default;
$tabs-active-link-hover-border-color: $tabs-border-color !default;
$tabs-active-link-hover-color: $text-color !default;

//== Title Bar

$title-bar-background-color: lighten($clouds-color, 2%) !default;
$title-bar-color: $text-color !default;

$title-bar-heading-font-size: 1.9em !default;

//== Date Picker

$date-picker-header-background-color: $primary-color;
$date-picker-header-link-color: #fff !default;
$date-picker-header-link-hover-color: #fff !default;

$date-picker-calendar-background-color: #fff !default;
$date-picker-calendar-link-hover-background-color: $clouds-color !default;
$date-picker-calendar-link-active-background-color: darken($clouds-color, 10%) !default;

//== Typography

$hr-border-color: darken($body-background-color, 15%) !default;
$blockquote-color: $text-muted-color !default;
