<h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.login.title') %></h2>
<% scope = Devise::Mapping.find_scope!(resource_name) %>
<%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_session_path"), html: { id: "session_new" }) do |f|
  f.inputs do
    resource.class.authentication_keys.each_with_index { |key, index|
      f.input key, label: t('active_admin.devise.'+key.to_s+'.title'), input_html: { autofocus: index.zero? }
    }
    f.input :password, label: t('active_admin.devise.password.title')
    f.input :remember_me, label: t('active_admin.devise.login.remember_me'), as: :boolean if devise_mapping.rememberable?
  end
  f.actions do
    f.action :submit,
      label: t('active_admin.devise.login.submit'),
      button_html: { class: 'button button-primary', value: t('active_admin.devise.login.submit') }

    if devise_mapping.recoverable? && controller_name != 'passwords'
      f.action :cancel,
        label: t('active_admin.devise.links.forgot_your_password'),
        button_html: { href: new_password_path(resource_name) }
    end
  end
end
%>
