.active-admin-content {
  @include clearfix;
  padding: $horizontal-page-margin;

  // so index table and filters scroll horizontally
  &.with-sidebar {
    display: table;
    width: 100%;
  }
}

.main-content-wrapper {
  float: left;
  width: 100%;
}

.main-content {
  margin-right: $sidebar-width + $horizontal-page-margin;
}

.without-sidebar .main-content {
  margin-right: 0;
}

.sidebar-wrapper {
  float: left;
  margin-left: -$sidebar-width;
  width: $sidebar-width;
}
