// Active Admin CSS

// Normalize
@import "active_admin/normalize";

// Partials
@import "active_admin/typography";
@import "active_admin/header";
@import "active_admin/forms";
@import "active_admin/components/comments";
@import "active_admin/components/flash_messages";
@import "active_admin/components/date_picker";
@import "active_admin/components/tables";
@import "active_admin/components/batch_actions";
@import "active_admin/components/modal_dialog";
@import "active_admin/components/blank_slates";
@import "active_admin/components/breadcrumbs";
@import "active_admin/components/dropdown_menu";
@import "active_admin/components/buttons";
@import "active_admin/components/grid";
@import "active_admin/components/links";
@import "active_admin/components/pagination";
@import "active_admin/components/panels";
@import "active_admin/components/status_tags";
@import "active_admin/components/table_tools";
@import "active_admin/components/tabs";
@import "active_admin/pages/logged_out";
@import "active_admin/structure/footer";
@import "active_admin/structure/main_structure";
@import "active_admin/structure/title_bar";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $body-background-color;
  color: $text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $line-height-base;
}
