input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
textarea {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-color;
  display: inline-block;
  outline: none;
  padding: $padding-base-vertical $padding-base-horizontal;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: calc(#{$form-input-width} - #{($padding-base-horizontal * 2) + 2px});

  &:focus {
    border: 1px solid $input-border-focus-color;
    box-shadow: 0 0 4px $input-border-focus-color;
  }
}

.formtastic {
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .hidden {
    display: none;
  }

  .input {
    margin-bottom: 15px;
    max-width: 600px;
  }

  .label {
    display: block;
    float: left;
    font-weight: $font-weight-bold;
    width: $form-label-width;

    abbr {
      border: none;
      color: $required-field-marker-color;
      margin-left: 0.3em;
    }
  }

  .inputs {
    background-color: $panel-background-color;
    border-radius: $panel-border-radius;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative; // for abosolute positioning sub fieldset legends for choices/fragments

    legend {
      float: left;
      font-size: 1rem;
      font-weight: $font-weight-normal;
      margin: -15px 0 0 -15px;
      padding: 15px;
      width: 100%;
    }
  }

  > fieldset {
    padding: 15px;
  }

  .has-many-container {
    h3 {
      border-bottom: 1px solid darken($panel-background-color, 12%);
      margin-bottom: 20px;
    }
  }

  .has-many-fields {
    border-bottom: 1px solid darken($panel-background-color, 12%);
    margin-bottom: 15px;
    padding: 0 15px;

    .handle {
      bottom: 0;
      cursor: move;
      line-height: 6px;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;

      &:before {
        content: "\1801\A\1801\A\1801\A\1801";
        font-size: 1.6em;
        position: absolute;
      }
    }
  }

  // Nested Fieldsets and Legends (radio, check boxes and date/time inputs use nested fieldsets)

  .fragments > .label {
    font-size: inherit;
    left: 0;
    position: absolute;
  }

  .choices-group,
  .fragments-group {
    float: left;
  }

  .choices-group,
  .fragments-group,
  .boolean label {
    padding-left: $form-label-width;
  }

  .choice,
  .fragment {
    margin: 0 0 0.5em;
  }

  .fragment {
    display: inline-block;
    margin: 0 0.5em 0 0;

    label {
      display: none;
    }
  }

  // BOOLEAN OVERRIDES

  .boolean input,
  .choice input {
    display: inline-block; // for IE
    margin: 0 0.5em 0 0;
  }

  .boolean label {
    padding-right: 10px;
  }

  // HINTS and ERRORS

  .inline-hints,
  .inline-errors {
    margin: 0.3em 0 0 $form-label-width;
  }

  .inline-hints {
    color: $text-muted-color;
  }

  .inline-errors,
  .errors {
    color: $error-color;
    font-weight: $font-weight-bold;
  }

  .errors {
    background-color: lighten($error-color, 35%);
    border-radius: $border-radius-base;
    list-style-type: square;
    margin-bottom: 10px;
    padding: 10px 10px 10px 28px;
  }

  // Buttons

  .button,
  .action {
    display: inline-block;
    margin-right: 0.5em;
  }
}

// -------------------------------------- Sidebar Forms

$sidebar-inner-content-width: $sidebar-width - ($panel-body-padding * 2);

.sidebar-section {
  select {
    width: $sidebar-inner-content-width;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=tel],
  textarea {
    width: $sidebar-inner-content-width - ($padding-base-horizontal * 2);
  }
}

// -------------------------------------- Filter Forms

$filter-field-seperator-width: 12px;

$side-by-side-filter-input-width: ($sidebar-inner-content-width / 2) - $filter-field-seperator-width;
$side-by-side-filter-select-width: ($sidebar-inner-content-width / 2);

$date-range-filter-input-width: ($sidebar-inner-content-width / 2) - ($filter-field-seperator-width / 2);

.filter-form-field {
  margin-bottom: 12px;

  .label {
    display: block;
    margin: 0 0 0.18em;
  }

  &.select-and-search {
    input[type=text] {
      margin-left: $filter-field-seperator-width;
      width: $side-by-side-filter-input-width;
    }

    select {
      width: $side-by-side-filter-select-width;
    }
  }

  &.filter-date-range {
    input {
      width: $date-range-filter-input-width;

      + input {
        margin-left: 6px;
      }
    }
  }
}

.filter-check-boxes {
  .choices {
    border: none;
    margin: 0;
    padding: 0;

    > label {
      display: block;
    }
  }
}

.filter-form {
  .buttons > * {
    margin-right: 5px;
  }
}
