// Active Admin Print Stylesheet

@import "active_admin/mixins/variables";

$body-background-color: #fff;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-size-base: 13px;
$line-height-base: 1.5;

$primary-color: #000000;
$text-color: #000000;

$table-border-color: #000000;
$fieldset-border-color: #000000;

// Normalize
@import "active_admin/normalize";

// Partials
@import "active_admin/typography";

body {
  background-color: $body-background-color;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

// Hidden
.unsupported-browser,
.main-navbar,
.flash,
.breadcrumb,
.title-bar-actions,
.panel-heading-actions,
td .empty,
.member-link,
.index-footer,
.pagination-information,
.comments form,
input[type=file],
form .password,
form .hidden,
form .actions,
.sidebar-section,
.footer {
  display: none;
}

// Content
.active-admin-content {
  margin-top: 2em;
}

// Tables
.table-tools {
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: none;
  }

  .scope.selected,
  .index.selected {
    display: block;
    margin-bottom: 1em;

    &:before {
      content: "Showing ";
    }

    a {
      font-weight: bold;
    }
  }
}

.badge {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  vertical-align: baseline;

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }
}

table {
  margin-bottom: 1.5em;
  text-align: left;
  width: 100%;

  tr {
    page-break-inside: avoid;
  }

  th {
    font-weight: bold;
  }

  th,
  td {
    border-bottom: 1px solid $table-border-color;
    padding: 8px;
    vertical-align: top;
  }
}

// Show
.panel {
  margin-bottom: 3em;
  padding-bottom: 2em;
  page-break-inside: avoid;
}

.active-admin-comment {
  padding: 1em 0;
}

.active-admin-comment-meta {
  margin-bottom: 0.7em;
}

// Attribute Tables
.attributes-table {
  td {
    img {
      max-height: 4in;
      max-width: 6in;
    }
  }
}

// Forms
fieldset {
  border: none;
  margin: 0 0 2em 0;
  padding: 2em 0 0 0;

  fieldset {
    border: 1px solid $fieldset-border-color;
    padding: 1em;
  }
}

form {
  ol,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li > label,
  .fragments > .label {
    font-weight: bold;
  }

  li {
    padding: 1em 0;

    abbr[title] {
      border-bottom: none;
      font-weight: normal;

      &:before {
        content: " (required)";
      }
    }
  }

  input,
  textarea,
  select {
    width: calc(100% - #{($padding-base-horizontal * 2) + 2px});
  }
}
